@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
/* Defaults */
html, body, .quiz-main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



img{
    width:300px;
    height:300px;
    padding:20px;
}
* {
    box-sizing: border-box;
}

body {
    background: #046AB9;
    color: #fff;
}

h1 {
    font-family: 'Bangers', 'Satisfy', 'cursive';
    font-size: 2.5em;
}

h2, p {
    font-family: 'Merriweather', 'sans-serif';
    font-size: 2em;
}

h1, h2, p {
    text-align: center;
    display: block;
    width: auto;
    margin: 1%;
}

#quiz-main {
    padding: 5% 0;
    /* Individual Steps/Sections */
    /* Content */
}
#quiz-main ul {
    list-style: none;
    display: block;
    width: auto;
    margin: 2% 2%;
    padding: 2%;
    overflow: auto;
    display: none;
    /* Step Questions and Answer Options */
}
#quiz-main ul.current {
    display: block;
}
#quiz-main ul li {
    display: inline-block;
    float: left;
    width: 49%;
    margin-right: 2%;
    overflow: auto;
    text-align: center;
}
#quiz-main ul li.quiz-answer {
    cursor: pointer;
}
#quiz-main ul li.question, #quiz-main ul li.results-inner {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 2%;
}
#quiz-main ul li.results-inner {
    padding: 5% 2%;
}
#quiz-main ul li.results-inner img {
    width: 250px;
}
#quiz-main ul li:last-child {
    margin-right: 0;
}
#quiz-main .question-wrap, #quiz-main .answer-wrap {
    display: block;
    padding: 1%;
    margin: 1em 10%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#quiz-main .answer-wrap {
    background: Turquoise;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
#quiz-main .answer-wrap:hover {
    background: DarkTurquoise;
}
